.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 200px);
  height: 100%;
  color: black;
  background: rgba(243, 239, 224, 0.95);
}

.contact-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.contact-header-title {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 50px;
  margin: 25px;
}

.contact-header-summary {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 25px;
}

.contact-info-container {
  margin: 25px 0px;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact-title {
  font-family: 'Sigmar One', cursive;
  font-size: 25px;
}

.flex-item {
  background: purple;
  height: 175px;
  flex-basis: 50%;
}

.flex-item > div {
  margin: 25px;
}

.email-container {
  background: #8eecea;
}

.email-name, .address-name, .resume-name {
  font-size: 18px;
}

.address-container {
  background: #3ebbb7;
}

.resume-container {
  background: #5aceca;
}

.social-container {
  background: #22a39f;
}

.contact-icons {
  display: flex;
  justify-content: center;
  transform: translateY(-30px);
  margin: 0 auto !important;
}

.resume-title {
  cursor: pointer;
}

.resume-title:hover {
  color: red;
}

.icon {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.icon:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
