.education-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 200px);
  width: 100%;
  height: 100%;
  color: black;
  background: rgba(255, 255, 255, 0.95)
}

.education-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.education-header-title {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 50px;
  margin: 25px;
}

.education-header-summary {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 25px;
}

.education-info-container {
  font-family: 'Roboto', sans-serif;
  font-weight: thin;
  letter-spacing: 1px;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.education-list {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.education-list:after,
.education-item:before {
	content: '';
  display: table;
}

.education-list:after {
	clear: both;
}

.education-list-item {
	width: 300px;
	height: 300px;
	display: inline-block;
	margin: 20px;
}

.education-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	perspective: 900px;
}

.education-info {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
}

.education-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
	transition: all 0.4s linear;
	transform-origin: 50% 0%;
}

.education-info .education-info-back {
	transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	background: #000;
	opacity: 0;
}

.education-img-1 {
  background-size: cover;
	background-image: url(../images/UWaterloo.gif);
}

.education-img-2 {
  background-size: cover;
	background-image: url(../images/AppAcademy.png);
}

.education-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	// font-size: 24px;
	// margin: 0 15px;
	padding: 70px 0 0 0;
	height: 125px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);
}

.education-info h5 {
  color: #fff;
  font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);
  margin-bottom: 5px;
}

.education-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.education-info p a {
	display: block;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.education-info p a:hover {
	color: rgba(255,242,34, 0.8);
}

.education-item:hover .education-info-front {
	transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	opacity: 0;
}

.education-item:hover .education-info-back {
	transform: rotate3d(1,0,0,0deg);
	opacity: 1;
}
