.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 200px);
  width: 100%;
  height: 100%;
  color: black;
  background: rgba(255, 255, 255, 0.95)
}

.experience-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.experience-header-title {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 50px;
  margin: 25px;
}

.experience-header-summary {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 25px;
}

.experience-info-container {
  font-family: 'Orbitron', sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 15px;
  padding: 25px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%;
}

.experience-info {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-img {
  margin-bottom: 10px;
  max-width: 200px;
}
