* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

html, body {
  max-width: 100%;
}

html, body, #root, .app, .content {
  width: 100%;
  min-height: 100vh;
}

.content {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  min-width: 100%;
}

html {
  position: relative;
  background: url("../images/background1.jpg") no-repeat center center fixed;
  background-repeat:no-repeat;
  background-position:fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.index {
  height: 200px;
  width: 40%;
  min-width: 600px;
  background: white;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
}

.details {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 75%;
}
