.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 200px);
  height: 100%;
  color: black;
  background: rgba(243, 239, 224, 0.95);
}

.profile-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 30%;
}

.profile-header-title {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 50px;
  margin: 25px;
}

.profile-header-summary {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 25px;
}

hr {
    width: 60%;
    border-color: #727878;
    opacity: .9;
    filter: alpha(opacity=20);
}

.profile-info {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.64;
  font-size: 15px;
  display: flex;
  justify-content: space-around;

  width: 100%;
  height: 70%;
}

.picture {
  height: 0;
  width: 20%;
  padding-bottom: 20%;
  border: 1px solid red;
  margin-top: 5%;
  border-radius: 50%;
}

.profile-info-about {
  width: 25%;
}

.profile-info-about-title {
  margin: 10px;
  font-weight: lighter;
  font-size: 25px;
  color: #22a39f;
}

.profile-info-about-paragraph {
  margin: 10px;
  white-space: pre-wrap;
}

.profile-info-demographic {
  width: 25%;
}

.profile-info-demographic-title {
  margin: 10px;
  font-weight: lighter;
  font-size: 25px;
  color: #22a39f;
}

.profile-info-demographic-paragraph {
  margin: 10px;
  white-space: pre-wrap;
}

.bold {
  font-weight: 700;
}
